* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.container-div {
  width: 100%;
  height: 100%;
  background-color: #e2ffd9;
  position: relative;
}
.box-div {
  width: 40%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px 30px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 64px;
  text-align: center;
}
.title-focus-on {
  color: green;
  margin-right: 5px;
}
.title-today {
  color: rgb(112, 63, 63);
}

/** HEADING **/
.heading-div {
  display: flex;
  margin-bottom: 20px;
}
.sun-icon {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.sub-heading {
  color: rgb(183, 182, 182);
}

/** BAR **/
.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #ddf7c4;
  border-radius: 50px;
  margin-top: 15px;
}
.progress-value {
  width: 50%;
  background-color: green;
  height: 100%;
  border-radius: 50px;
  padding-left: 15px;
  font-size: 10px;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/** GOAL CONTAINER **/
.input-container {
  border: 1px solid rgb(227, 227, 227);
  width: 100%;
  height: 70px;
  border-radius: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
#goal-input {
    border: none;
    outline: none;
    margin-left: 15px;
    font-size: 16px;
    width: 90%;
  }
  #goal-input::placeholder {
    color: rgb(211, 211, 211);
  }
#add-btn{
    width: 30%;
    height: 100%;
    border-radius: 40px;
    border: none;
    background-color: #5fa434;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
#add-btn:hover{
    background-color: #4d8928;
}

#list-container{
    position: relative;
}
ul li{
    list-style-type: none;
    padding-left: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 12px 8px 12px 50px;
    user-select: none;
    background-color: #dcf8d7;
    margin-bottom: 10px;
    border-radius: 12px;
}
ul li::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-image: url('./images/uncheck-64.png');
    background-size: cover;
    background-position: center;
    background-color: #fff;
}
ul li span{
    position: absolute;
    right: 8px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    border: none;
    text-align: center;
    /* background-image: url('./images/cross-15-64.png');
    background-size: cover;
    background-position: center; */
}
ul li span:hover{
    background-color: #4d8928;
    color: white;
}
ul li.checked{
    text-decoration: line-through;
}
ul li.checked::before{
    content: '';
    position: absolute;
    left: 8px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background-image: url('./images/check-check-64.png');
    background-size: cover;
    background-position: center;
}

/** mobile view **/
@media (max-width: 768px) {
  .title {
    font-size: 32px;
  }

  .box-div {
    padding: 16px 32px;
    width: 85%;
    height: 80%;
  }

  .progress-bar {
    height: 24px;
  }
}
